@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "HelveticaNeue";
    src: url(assets/fonts/HelveticaNeueLight.otf);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}


body {
    background-color: #d2d2d217;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 240px 0 118px 0;
}

.area_intro {
    position: absolute;
    text-align: center;
    margin: -92px 380px 950px -5px;
}

.titulo_area_intro {
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    width: 411px;
    bottom: 35px;
}

.descricao_area_intro1, .descricao_area_intro2 {
    position: absolute;
    width: 411px;
    color: rgb(87 87 87);
    font-size: 14px;
    line-height: 20px;
    bottom: -33px;
}


.descricao_area_intro2 {
    bottom: -81px;
}

.linha_quebra {
    margin: 10px 0;
}

.container {
    
    display: grid;
    justify-self: center;
    align-self: center;
    position: relative;
    gap: 12px;
    width: 350px;
    height: 100vh;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: repeat(8, 201px);
    grid-template-areas:
        "card1 text1"
        "text2 card2"
        "card3 text3"
        "text4 card4"
        "card5 text5"
        "text6 card6"
        "card_peque1 card_peque2"
        "text7 text8";
    margin: 153px 0px;
    padding: 0px 0px 0px 32px;
}

.card1 {
    grid-area: card1;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.card_pequeno1 {
    grid-area: card_peque1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card_pequeno2 {
    grid-area: card_peque2;
}

.card6 {
    grid-area: card6;
}

.texto1 {
    grid-area: text1;
    display: flex;
    flex-direction: column;
    text-align: end;
}


.texto2 {
    grid-area: text2;
    text-align: start;
}

.texto3 {
    display: flex;
    flex-direction: column;
    grid-area: text3;
    text-align: end;
}


.texto4 {
    grid-area: text4;
    text-align: start;
}


.texto5 {
    display: flex;
    flex-direction: column;
    grid-area: text5;
    text-align: end;
}

.texto6 {
    position: absolute;
    grid-area: text6;
}

.texto7 {
    grid-area: text7;
}

.texto8 {
    grid-area: text8;
}

.texto2, .texto4, .texto6 {
    text-align: start;
}

.texto7, .texto8 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.texto1, .texto3, .texto5 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.titulo_texto {
    font-size: 14px;
}

.descricao_texto {
    font-size: 13px;
    color: rgb(95, 95, 95);
}

.paragrafo_texto {
    font-size: 12px;
    color: rgb(87 87 87);
}


.etiqueta_info {
    font-size: 11px;
    color: rgb(95, 95, 95);
    border-bottom: 1px solid rgb(95, 95, 95);
    border-top: 1px solid rgb(95, 95, 95);
    padding: 1px;
    margin: 10px 0 0;
}

.texto1 .etiqueta_info {
    width: 93px;
}

.texto2 .etiqueta_info {
    width: 100px;
}

.texto3 .etiqueta_info {
    width: 83px;
}

.texto5 .etiqueta_info {
    width: 94px;
}

.texto4 .etiqueta_info {
    width: 61px;
}

.texto6 .etiqueta_info {
    width: 108px;
}

.texto7 .etiqueta_info {
    width: 92px;
}

.texto8 .etiqueta_info {
    width: 75px;
}

   
.triangulo {
    height: 0px;
    width: 0px;
    display: inline-block;
    border-left: 10px solid #00000000;
    border-right: 10px solid #00000000;
    border-top: 11px solid #ffffffed;
    
}

.triangulo1 {
    rotate: 90deg;
    position: absolute;
    top: 25px;
    right: 175px;
}

.triangulo2 {
    rotate: 270deg;
    position: absolute;
    top: 235px;
    right: 155px;
}

.triangulo3 {
    rotate: 90deg;
    position: absolute;
    top: 447px;
    right: 175px;
}

.triangulo4 {
    rotate: 270deg;
    position: absolute;
    top: 665px;
    right: 155px;
}

.triangulo5 {
    rotate: 90deg;
    position: absolute;
    top: 874px;
    right: 175px;
}

.triangulo6 {
    rotate: 270deg;
    position: absolute;
    top: 1089px;
    right: 155px;
}

.triangulo_pequeno1 {
    rotate: 180deg;
    position: absolute;
    top: 1469px;
    right: 255px;
}

.triangulo_pequeno2 {
    rotate: 180deg;
    position: absolute;
    top: 1469px;
    right: 75px;
}

@media screen and (orientation: landscape) {

    /* .main {
        padding: 197px 0 118px 0;
    } */
    
}

@media screen and (max-width: 360px) {

    .main {
        padding: 240px 0 118px 35px;
    }

    .titulo_area_intro {
   
    width: 375px;
    bottom: 35px;
    display: flex;
    flex-direction: column;
    
}

.descricao_area_intro1, .descricao_area_intro2 {
    position: absolute;
    width: 325px;
    bottom: -61px;
    left: 33px;
}

.descricao_area_intro2 {
    bottom: -128px;
}

.container {
    width: 320px;
    padding: 0px 0px 0px 0px;
}

}

@media screen and (min-width: 830px) {

    .main {
        padding: 106px 0 118px 0;
    }



    .container {
    display: grid;
  
    justify-self: center;
    align-self: center;
  
    position: relative;
    gap: 12px;
    width: 778px;
    height: 100vh;
    grid-template-columns: 9fr 15fr 15fr 9fr;
    grid-template-rows: repeat(6, 289px);
    grid-template-areas:
        ". text1 text2 ."
        ". card1 card2 ."
        "text3 card3 card4 text4"
        "text5 card5 card6 text6"
        ". card_peque1 card_peque2 ."
        ". text7 text8 .";
        
}

    .area_intro {
        text-align: center;
        margin: -17px 399px 950px -5px;
    }

    .titulo_area_intro {
        bottom: -30px;
    }

    .descricao_area_intro1, .descricao_area_intro2 {
        bottom: -98px;
    }

    .card1 {
        width: 171px;
        justify-self: end;
    }

    .descricao_area_intro2 {
        bottom: -146px;
    }

    .card_pequeno1 {
        height: 160px;
        position: relative;
        top: -265px;
    }

    .card2 {
        width: 171px;
        height: 138px;
        align-self: flex-end;
    }

    .card3 {
       height: 160px; 
    }

    .card4 {
        height: 160px;
    }    

    .card5 {
        width: 171px;
        height: 138px;
        justify-self: end;
        top: -122px;
        position: absolute;
    }

    .card_pequeno2 {
        height: 230px;
        position: relative;
        top: -120px;
    

    }

    .card6 {
        width: 171px;
        top: -123px;
        position: relative;
    }
    
    
.texto1 {
    grid-area: text1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
    text-align: center;
    position: absolute;
    left: 60px;
}


.texto2 {
    grid-area: text2;
    align-self: end;
    text-align: center;
    position: absolute;
    bottom: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 178px;
}

.texto3 {
    position: absolute;
    top: -20px;
    text-align: end;
    display: flex;
    flex-direction: column;
    grid-area: text3;
    align-items: end;

}


.texto4 {
    position: absolute;
    top: -21px; 
    text-align: start;
    grid-area: text4;
}


.texto5 {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 169px;
    bottom: 274px;
    left: 31px;
    text-align: end;
    grid-area: text5;
    align-items: end;

}

.texto6 {
    position: absolute;
    left: -60px;
    bottom: 125px;
    text-align: start;
    grid-area: text6;
}

.texto7 {
    grid-area: text7;
    position: absolute;
    bottom: 533px;
    left: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 196px;
}

.texto8 {
    grid-area: text8;
    position: absolute;
    bottom: 330px;
    left: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 197px;
}


.triangulo1 {
    rotate: 0deg;
    position: absolute;
    top: 300px;
    right: 469px;
}

.triangulo_pequeno1 {
    rotate: 180deg;
    position: absolute;
    top: 151px;
    right: 105px;
}

.triangulo2 {
    position: absolute;
    rotate: 0deg;
    top: 451px;
    left: 501px;
}

.triangulo3 {
    position: absolute;
    rotate: -90deg;
    top: 729px;
    left: 178px;
}

.triangulo4 {
    position: absolute;
    rotate: 90deg;
    top: 729px;
    left: 644px;
}

.triangulo5 {
    position: absolute;
    rotate: 270deg;
    top: 107px;
    left: -6px;
}

.triangulo_pequeno2 {
    position: absolute;
    rotate: 180deg;
    top: 220px;
    left: 105px;
}

.triangulo6 {
    position: absolute;
    rotate: 90deg;
    top: 259px;
    left: 156px;
}

}

@media screen and (min-width: 1300px) {
    
    .main {
        padding: 197px 0 118px 0;
    }

    .container {
        display: grid;
        grid-template-columns: 2fr 9.5fr 9.5fr 2fr;
        grid-template-rows: 161px 92px 138px 161px;
        width: 900px;
        justify-self: center;
        align-self: center;
        grid-template-areas:
            ". text1 card1 text2"
            "card_peque1 card3 card4 card5"
            "card2 card3 card4 card_peque2"
            "text7 card6 text8 .";
        position: relative;
        gap: 12px;
    }


    .area_intro {
        margin: -72px 1020px 956px -5px;
        text-align: center;
    }


    .titulo_area_intro {
        position: absolute;
        bottom: 24px;
        font-size: 25px;
        font-weight: 500;
        width: 400px;
    }


    .descricao_area_intro1, .descricao_area_intro2 {
        bottom: -48px;
    }

    .descricao_area_intro2 {
        bottom: -93px;
    }

    .card1 {
        grid-area: card1;
        width: 182px;
        justify-self: normal;
    }

    .card_pequeno1 {
        grid-area: card_peque1;
        height: 92px;
        width: 100px;
        justify-self: end;
        position: static;
    }

    .card2 {
        grid-area: card2;
        width: 182px;
        height: 138px;
        align-self: flex-end;
    }

    .card3 {
        grid-area: card3;
        height: 242px;
    }

    .card4 {
        grid-area: card4;
        height: 242px;
    }

    .card5 {
        grid-area: card5;
        width: 182px;
        height: 138px;
        position: static;
        justify-self:normal;
    }

    .card_pequeno2 {
        grid-area: card_peque2;
        background-color: rgb(144, 143, 143);
        height: 92px;
        width: 100px;
        align-self: flex-end;
        position: static;
    }

    .card6 {
        grid-area: card6;
        width: 182px;
        justify-self: flex-end;
        position: static;
    }

    .texto1 {
        grid-area: text1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        left: 61px;
        bottom: 1px;
    }

    .texto1 p {
        text-align: end;
    }

    .texto2 {
        grid-area: text2;
        position: absolute;
        bottom: 1px;
        right: 60px;
        text-align: start;
    }

    .texto3 {
        position: absolute;
        top: 127px;
        width: 216px;
        left: -86px;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .texto3 p {
        text-align: end;
    }

    .texto4 {
        position: absolute;
        right: -174px;
        width: 157px;
        top: 145px;
    }


    .texto5 {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 152px;
        top: 278px;
        left: -132px;
    }

    .texto6 {
        position: absolute;
        width: 200px;
        left: 865px;
        top: 320px;
    }

    .texto7 {
        grid-area: text7;
        bottom: 2px;
        text-align: end;
        left: 62px;
    }

    .texto8 {
        grid-area: text8;
        bottom: 25px;
        left: 2px;
        text-align: start;
        
    }

    .texto1, .texto2, .texto3, .texto6, .texto7, .texto8 {
        width: 189px;

        display: flex;
        flex-direction: column;
    }

    .texto1, .texto3, .texto5, .texto7 {
        align-items: end;
    }

    .texto2, .texto8 {
        align-items: start;
    }

    .texto5 .paragrafo_texto {
        width:156px ;
    }

    .texto4 .paragrafo_texto {
        width:150px ;
    }

    
.triangulo {
    height: 0px;
    width: 0px;
    display: inline-block;
    border-left: 10px solid #00000000;
    border-right: 10px solid #00000000;
    border-top: 11px solid #ffffffed;
    
    
}

.triangulo1 {
    rotate: 90deg;
    position: absolute;
    top: 20px;
    right: 257px;
}


.triangulo_pequeno1 {
    position: absolute;
    rotate: -90deg;
    top: 234px;
    left: 109px
}

.triangulo_pequeno2 {
    position: absolute;
    rotate: 90deg;
    top: 337px;
    left: 836px;
}

.triangulo2 {
    position: absolute;
    rotate: -90deg;
    top: 382px;
    left: 26px;
}

.triangulo3 {
    position: absolute;
    rotate: 0deg;
    top: 172px;
    left: 438px;
}

.triangulo4 {
    position: absolute;
    rotate: 180deg;
    top: 406px;
    left: 509px;
}

.triangulo5 {
    position: absolute;
    rotate: 90deg;
    top: 194px;
    left: 919px;
}

.triangulo6 {
    position: absolute;
    rotate: 270deg;
    top: 560px;
    left: 289px;
}

   
}   